# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2024-2026 David Kleinhans, Jade University of Applied Sciences
# Python dependencies for DeepL Translation Frontend
# TODO: Review and document licenses for all dependencies in NOTICE file

Django==4.2
gunicorn
django-crispy-forms==2.0
crispy-bootstrap5==0.7
pytz
python-dateutil
requests
deepl
markdown
