{# SPDX-License-Identifier: Apache-2.0 #}
{# SPDX-FileCopyrightText: 2024-2026 David Kleinhans, Jade University of Applied Sciences #}
{# Statistics Frontend Template - Display usage statistics for DeepL translation service #}
{% extends "base.html" %}

{# Load required template tags #}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block content %}
  {# Header section #}
  <div>
    <h1 class="display-6 pb-2"><a href="{% url 'translation-form' %}" style="text-decoration: none; color: inherit;">{{ APP_TITLE }}</a> &#150; {% translate "Statistics" %}</h1>
  </div>

  {# Granularity navigation pills #}
  {% translate "daily" as t_daily %}
  {% translate "monthly" as t_monthly %}
  {% translate "annually" as t_annually %}
  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link{% if granularity == 'd' %} active{% endif %}"
         href="{% url 'usage-statistics' granularity='d' %}">{{ t_daily|capfirst }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if granularity == 'm' %} active{% endif %}"
         href="{% url 'usage-statistics' granularity='m' %}">{{ t_monthly|capfirst }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if granularity == 'y' %} active{% endif %}"
         href="{% url 'usage-statistics' granularity='y' %}">{{ t_annually|capfirst }}</a>
    </li>
  </ul>

  {# Statistics table section #}
  {% if granularity_title %}
    <h5>{{ granularity_title }}</h5>
    <div class="text-secondary">
      {% translate "Legend: <em>number of requests</em> (<em>number of characters used</em>)" %}
      {% if DOCUMENT_TRANSLATION_ENABLED %}
        &mdash; {% translate "whereof documents: count (share of total)" %}
      {% endif %}
    </div>
  {% endif %}

  {# Display statistics table if data available #}
  {% if statistics %}
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">{% translate "period" %}</th>
          <th scope="col" class="text-end">DE&rarr;EN</th>
          <th scope="col" class="text-end">EN&rarr;DE</th>
          <th scope="col" class="text-end">{% translate "total" %}</th>
          {% if DOCUMENT_TRANSLATION_ENABLED %}
          <th scope="col" class="text-end">{% translate "whereof documents" %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {# Loop through statistics records #}
        {% for r in statistics %}
          <tr>
            <td>{{ r.fdt|date:dformat }}</td>
            <td class="text-end">{{ r.deen }}</td>
            <td class="text-end">{{ r.ende }}</td>
            <td class="text-end">{{ r.total }}</td>
            {% if DOCUMENT_TRANSLATION_ENABLED %}
            <td class="text-end text-secondary">{{ r.doc }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {# Display usage summary if available #}
  {% if usage %}
    <div class="pt-1 text-secondary">
      <small>
        <em>{{ usage }}</em>
      </small>
    </div>
  {% endif %}

  {# Back navigation link #}
  <div class="pt-3">
    <a class="icon-link icon-link-hover" href="{% url 'translation-form' %}">
      {% translate "back to translation frontend" %}
      <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
        <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </a>
  </div>
{% endblock content %}